Repository MeetyourBuddy/WhereIsMyBuddy, pull requests merged in 2024-12, with the labels that each got.

#71 docs: add and update readme files
  README.md
  packages/frontend/.env.dev
  packages/frontend/src/main.tsx
  packages/server/README.md
Labels: 📖 documentation

#72 feat: add social auth google
  packages/frontend/.env.example
  packages/frontend/src/components/auth/auth-form.tsx
  packages/frontend/src/pages/auth/oauth.tsx
  packages/frontend/src/providers/routes/routes.tsx
  packages/frontend/src/services/api/auth/auth-service.ts
  packages/frontend/src/services/api/axios-instance.ts
  packages/frontend/src/services/api/config.ts
  packages/server/.eslintrc.js
  packages/server/.vscode/settings.json
  packages/server/package-lock.json
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/main.ts
  packages/server/src/user-auth/decorators/get-user.decorator.ts
  packages/server/src/user-auth/decorators/public.decorator.ts
  packages/server/src/user-auth/guards/jwt-auth.guard.ts
  packages/server/src/user-auth/guards/refresh-token.guard.ts
  packages/server/src/user-auth/schemas/user-auth-schema.ts
  packages/server/src/user-auth/strategies/google.strategy.ts
  packages/server/src/user-auth/strategies/jwt.strategy.ts
  packages/server/src/user-auth/strategies/refresh-token.strategy.ts
  packages/server/src/user-auth/types/index.ts
  packages/server/src/user-auth/user-auth.controller.ts
  packages/server/src/user-auth/user-auth.module.ts
  packages/server/src/user-auth/user-auth.service.ts
Labels: 🚀 new feature, 🔌 backend, 🖥️ frontend

#74 fix: renamed backend repo and fixed few bugs on frontend
  .github/workflows/backend-lint.yml
  package-lock.json
  packages/backend-old-discontinued/.dockerignore
  packages/backend-old-discontinued/.eslintrc.json
  packages/backend-old-discontinued/.prettierrc
  packages/backend-old-discontinued/README.md
  packages/backend-old-discontinued/dockerfile
  packages/backend-old-discontinued/dockerfile.dev
  packages/backend-old-discontinued/package-lock.json
  packages/backend-old-discontinued/package.json
  packages/backend-old-discontinued/src/app.js
  packages/backend-old-discontinued/src/config/database.config.js
  packages/backend-old-discontinued/src/config/server.config.js
  packages/backend-old-discontinued/src/index.js
  packages/backend-old-discontinued/src/middlewares/middleware.js
  packages/backend-old-discontinued/src/utils/logger.js
  packages/backend/.env.example
  packages/frontend/src/App.tsx
  packages/frontend/src/components/auth/auth-form.tsx
  packages/frontend/src/pages/onboarding/onboarding.tsx
  packages/frontend/vite.config.ts
  packages/server/src/common/decorators/index.ts
  packages/server/src/common/decorators/public.decorator.ts
  packages/server/src/main.ts
  packages/server/src/users/auth/auth.controller.ts
  packages/server/src/users/auth/decorators/api-response.decorator.ts
  packages/server/src/users/auth/decorators/index.ts
  packages/server/src/users/auth/dto/auth-response.dto.ts
  packages/server/src/users/auth/dto/login-user.dto.ts
  packages/server/src/users/auth/guards/jwt-auth.guard.ts
  packages/server/src/users/decorators/get-user.decorator.ts
  packages/server/src/users/decorators/index.ts
  packages/server/src/users/dto/index.ts
  packages/server/src/users/schemas/user.schema.ts
  packages/server/src/users/users.controller.ts
Labels: enhancement, 🔌 backend
